.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1,h2,h5{
  font-family: 'IBM Plex Serif', serif;
}
p, button, span{
  font-family: 'Poppins', sans-serif;
}
.bg-f5{
  background-color: #f1f1f1;
}
.tagline{
  font-size: 15px;
}
.tagline-button{
  text-decoration: none;
}
.tagline-button:hover{
  text-decoration: underline;
}

/*Navbar*/
.brand{
  margin: 10px 0px 5px 0px;
  height: 30px;
  font-weight: 500;
  font-size: 35px;
}
.isi-nav{
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
}
.isi{
  transition: 0.2s;
  margin: 0px 12px;
  border-bottom: 2px solid transparent;
}
.isi:hover{
  border-bottom: 2px solid;
}
.font-nunito{
  font-family: 'Nunito Sans', sans-serif;
}
.h-55-vh{
  height: 55vh;
}
.mt-minus-50-vh{
  margin-top: -50vh;
}
.mt-minus-150-px{
  margin-top: -150px;
}

/*Carousel*/
.carousel-item{
  height: 70vh;
}

.bg-biru{
  background-color: #0E1E32;
}
.btn-biru{
  color: white;
  background-color: #0E1E32;
  border: 2px solid #0E1E32
}
.btn-biru:hover{
  background-color: white;
  color: #0E1E32;
  border: 2px solid #0E1E32
}

.kat-ovr{
  background-color: rgb(14, 30, 50,0.45);
  transition: 0.2s;
  font-size: 18px
}
.kat-ovr:hover{
  background-color: rgb(14, 30, 50,0.65);
  font-size: 20px
}

.profil{
  height: 140px;
  width: auto;
  aspect-ratio: 1/1;
}
.aspect-ratio-1{
  aspect-ratio: 1/1;
}
.sampul{
  height: 200px;
}

.cari{
  transition: 0.2s;
}
.cari:hover{
  font-size: 20px;
  border-left: 3px solid;
  border-radius: 0px;
}

.sideActive{
  font-size: 20px;
  border-left: 3px solid;
  border-radius: 0px;
}

.pdf-view{
  height: 600px;
}

.form-check-input:checked{
  background-color: #676d73 !important;
  border: 0;
}
.form-check-input:focus, .form-control:focus, .form-select:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.15rem rgb(103,109,115,0) !important;
}